
dist
.solid
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules
*.db

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Pocketbase backend
pb_data

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
