package web

type BaseHTMLProps struct {
	Metadata templ.Component
}

templ BaseHTML(props BaseHTMLProps) {
	<html>
		<head>
			<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
			@props.Metadata
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
