package web

//base for each html page

type BaseHTMLProps struct {
	Metadata templ.Component
}

templ BaseHTML(props BaseHTMLProps) {
	<html>
		<head>
			<script src="./assets/flyonui.js"></script>
			<link rel="stylesheet" href="./assets/out.css"/>
			@props.Metadata
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
